@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Maven+Pro&family=Nanum+Myeongjo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 1.1em;
}

nav {
  display: flex;
  gap: 20px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-link.active {
  text-decoration: underline;
}

.logo {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.body {
  flex: 1;
}

.hero {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.description-container {
  padding: 10vh 30vw 10vh 20vw;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

footer {
  display: flex;
  justify-content: center;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  padding: 1em;
  font-size: 0.8rem;
}